---
layout: default
title: Home
---

<img src="public/picture.jpg" alt="" border="0" style="width:500px"/>

<h3>About Me</h3>

<p>
  I am a mathematician.
  I have conducted research and written articles in pure and applied mathematics, as well as physics,
  though my primary area of <a href="research.md">research</a> is algebraic topology, 
  specifically categorical algebra in equivariant homotopy theory.
  <!-- My interests include building abstract frameworks to describe and understable complex phenomena, and designing computational tools.-->
</p>

<p>
  I <a href="teaching.html">teach</a> following the principle of active learning,
  and have developed and assessed curricula for flipped-classroom and other active learning styles for a wide range of math courses, using both traditional and mastery-based grading schema.
</p>

<p>
  I have experience with
  <a href="https://www.gap-system.org/">GAP</a>, 
  <a href="https://faculty.math.illinois.edu/Macaulay2/">Macaulay2</a>, and 
  <a href="https://www.python.org/">python</a>.
</p>

<p>
  I also enjoy
  <a href="http://swingcville.org/">swing dancing</a>,
  <a href="http://www.redrivergorge.com/">hiking</a>, and
  <a href="https://www.cincinnatisymphony.org/">music</a>.
</p>

<h3>Education and Academic Appointments</h3>

<p>
  I am an Assistant Teaching Professor at <a href="https://mathstat.georgetown.edu/">Georgetown University</a> in the Department of Mathematics and Statistics.
</p>

<p>
  I was a Visiting Assistant Professor in the 
  <a href="https://www.holycross.edu/academics/programs/mathematics-and-computer-science">Math Department</a>
  at
  <a href="https://www.holycross.edu">Holy Cross</a> from 2020 to 2021,
  and was a Postdoctoral Scholar in the
  <a href="https://math.as.uky.edu/topology-and-geometry">topology group</a>
  at the
  <a href="https://math.as.uky.edu/">University of Kentucky</a>
  from 2017 to 2020.
</p>
<p>
  I completed my Ph.D. in Mathematics at the
  <a href="http://www.math.virginia.edu">
    University of Virginia</a>
  in 2017,
  under the supervision of
  <a href="http://math.ucla.edu/~mikehill/index.html">
    Mike Hill</a>.
</p>
<p>
  I received my B.S. from Union College <i>summa cum laude</i> in 2011, majoring in mathematics and physics, with minors in classical history and Ancient Greek.
</p>
  
<p>
  <a href="public/Bonventre-CV.pdf">Full Curriculum Vitae</a> (updated 07 Jan 2022).<br>
</p>


<h3>Links</h3>
<p>
  <a href="https://mathstat.georgetown.edu/resources/math-club/">Georgetown Math Club</a><br> 
  <a href="http://www.ms.uky.edu/~mathclub/">UKY Undergraduate Math Club</a><br>
  <a href="https://ukmathlab.blogspot.com/">UKY Math Lab</a><br>
  <a href="http://www.ms.uky.edu/~topology/MTS2018/">Fall 2018 Midwest Topology Seminar (UKY)</a>
</p>


<h3>Contact Information</h3>
<p>
  Email: peterbonventre at gmail dot com
</p>








<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>x
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
