---
layout: default
title: Home
---




<p>I am a fifth-year graduate student and Ph.D. candidate in the <a href="www.math.virginia.edu">Department of Mathematics</a> at the <a href="www.virginia.edu">University of Virginia</a>. My interests lie in equivariant stable homotopy theory, structured ring spectra, operad theory, and model category theory. I am studying under the supervision of <a href="http://people.virginia.edu/~mah7cd/">Michael Hill</a>.</p>

<h3> Contact Information </h3>

University of Virginia<br>
Department of Mathematics<br>
P.O. Box 400137<br>
Charlottesville, VA 22904<br>
<br>
Office: Kerchof 401<br>
Email: pjb9ub@virginia.edu





<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>x
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
